/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 avr. 2019, 08:46:30
    Author     : ssylvest
*/
*{box-sizing:border-box;}

body {
    
        background-image: linear-gradient(rgb(70,130,180), white);
	font-family:"Arial";
	font-size: 0.8em;
	color:black;
        
}

header{
    box-sizing: content-box;
    width: 3000px;
    

	background-color: #2c3e50;
        margin-left:0px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:30px;
	padding-right:30px;
	height:80px;
	display:flex;
	align-items:center;
}
input[type=submit]{
  
    align-content: center;
    background-color: #2c3e50;
    border-color: silver;
    border-width: 1px;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: bold; 
    height: 40px;
    cursor:pointer;
    width:110px;
    color:silver;
}

/* Permet de modifier les inputs submit au survol de la souris */
input[type=submit]:hover{
    color: white; 
}
